* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  height: 100%;
}

 
   
.header-inf{
  display: flex;
  background-color: #e8999f;
  height: 42px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.header-inf_text{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 8px;
  text-align: center;
  color:white;
  margin-left:12px;
  margin-right:26px;
}


.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 40px;
  gap:80px;
}

.logo img{
  height: 15px;
}
.open-menu,.close-menu{
cursor: pointer;
}
.open-menu img{
  height: 20px;
  margin-left: 10px;
}


.nav-menu{
  display: none;
}

.btn-container img{
  height: 18px;
}

.btn-container{
  display: flex;
  gap:10px;
  margin-right: 10px;
}

  


/*main*/
main {
  
  margin: 0;
  padding: 0;
}
.container-main{
  margin: 0;
  padding: 0;
    
    
}
.img-main{
  position:absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  opacity: 1;


}
.img-main_big{
    display: none;
}

.container-info{
  position:absolute;
  top: 500px;
  margin-left: 30px;
  margin-right: 50px;
  
}
.container-info_section p{
  color: white;
}
.container-info_section_p1{
  font-size: 12px;
  letter-spacing: 2px;
}
.container-info_section_p2{
  font-size: 18px;
  letter-spacing: 3px;
}

.btn-parami_a{
  position: relative;
  display: inline-block;
  padding: 14px 28px;
  border: 1px solid gray;
  text-align: center;
  background-color:#E8999F;
  color:white;
  text-decoration: none;
  height: 44px;

}

.btn-parami_a:hover{
  background-color:transparent;
  color:#E8999F;
  border-color: #E8999F;
  transition: color 1s;
}

.container-gif_btn{
  position:absolute;
  top: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#E8999F;
  position: relative;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  gap:12px;
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid gray;
  margin-left: 30px;
}
.gif_texto{
  color:white;
}


.container-chat{
  display: flex;
  justify-content: center;
  background-color:#E8999F;
  position: fixed;
  border-radius: 50px;
  width:60px;
  height: 60px;
  align-items: center;
  top: 540px;
  
  right: 30px;
 }
 .container-chat img{
  cursor: pointer;
 }





/*Cuando la pantalla sea mayor de 480px y menor de 768px, el menú tendrá que estar en el lateral.*/
@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
.open-menu{
   display:none;
  }

.container-open-cerrar{
  margin-bottom: 60px;
}

.container-open-cerrar img{
  width: 20px;
  cursor: pointer;
}
.nav-menu{
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
  }

nav{
  float: left;
  flex-direction: column;
  justify-content: start;
  align-items:start;
  gap:10px;
  position:fixed;
  left: 0;
  bottom: 0;
  top:0;
  right: 30px;
  padding: 32px;
  background-color: white;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.5)
}
.nav-li{
  margin-bottom: 30px;
  margin-left: 20px;
  border-bottom: #009D95 solid 1px;

}
.nav-li a {
  font-family: sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #009D95;

}


.nav-ul{
flex-direction: column;
display: block;
list-style: none;
align-items: center;
justify-content: center;
gap :30px;
margin:0;
padding: 0;
    
}


.img-main{
z-index: -1;

}
}



/*Cuando la pantalla sea mayor de 768px */
@media screen and (min-device-width: 769px)  { 
.header-inf{
  display: flex;
  background-color: #e8999f;
  height: 42px;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.header-inf_text{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 12px;
  color:white;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 125px;
  gap:50px;
}

.container-open-cerrar{
  display: none;
}
.img-main{
  display: none;
}
.img-main_big{
  position:absolute;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 1;

}
.logo img{
  height: auto;
}




.logo{
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.nav-menu{
 display: flex;
    
  }

nav{
  display: block;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.nav-li{
  margin:0;
}
nav li a {
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #009D95;
}

  
.nav-ul{
  display: flex;
  flex-wrap:wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap :30px;
  margin:0;
  padding: 0;
  
}


.btn-container{
  display: flex;
  gap:20px;
  margin-right: 50px;
}


.open-menu,.close-menu{
  display: none;
  cursor: pointer;
}



nav li a:hover{
  color:rgba(232, 153, 159, 1);
}


.container-info{
  position:absolute;
  top: 810px;
  bottom: 70px;
  margin-left: 50px;
  margin-right: 50px;
}
.btn-container img{
  height: 25px;
}

.container-gif_btn{
  position:absolute;
  top: 880px;
  margin-left: 20px;
  cursor: pointer;
}



.container-chat{
  top: 880px;
}

}




